<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message,  class: "alert alert-#{message_type}", role: "alert") %>
    <% end %>
    <div class="container">
      <div class="cart-text"><%= render 'layouts/cart_text' %></div>
      <%= yield %>
    </div>
    <%#= render "layouts/footer"%>
  </body>
</html>

<style type="text/css">
  .alert-alert {
    @extend .alert-error
  }
  .alert-notice {
    @extend .alert-success
  }
</style>